@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,700;1,300;1,400&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

body::after {
    content: "";
    background-image: url();
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 40%;
}


header {
    background-color: #83FFBC87;

}

ul {
    list-style: none;
    display: flex;
    float: right;
    margin-top: 30px;
}

li {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin: 0 120px;
    padding: 10px;
    border-radius: 8px;
    background-color: #05AA5187;
}

li:hover {
    background-color: #08311b87;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border-radius: 10%;
}

.lixeiras {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lixeiras img {
    width: 30%;
    height: 30%;
    margin-top: 30px;
}

.imagem-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem-logo img {
    width: 30%;
    height: 30%;
    margin: 0 auto;

}

img {
    width: 100px;
    height: 100px;
    margin-inline-start: 40px;

}


.h1-topico {
    text-align: center;
    margin: 2%;
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    color: black;

}


h2 {
    text-align: left;
    margin: 4%;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    color: black;
}

p {
    margin: 0 5% 0 5%;
    line-height: 32px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    text-align: center;
}


.objetivos button {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: black;
    background-color: #83FFBC87;
    padding: 8px;
    margin: 25px auto 70px;
    cursor: pointer;

}

button:hover {
    background-color: #08311b87
}

footer {
    font-family: "Montserrat", sans-serif;
    background-color: #83ffbc87;
    color: black;
    text-align: center;
    padding: 10px 0;
    position: bottom;
    margin-top: 60px;
    bottom: 0;
    width: 100%;
    height: 110px;
}

footer p {
    font-size: 15px;
    line-height: 50px;
}

.socialmedia {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialmedia img {
    margin-top: 20px;
    margin-right: 5px;
    width: 40px;
    height: 40px;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    li {
        margin: 10px 0;
        margin-right: 15px;
    }
}